body {
  background-color: #B2C8DF;
}

img {
  height: 200px;
}

table {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

li {
  text-align: center;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #6E85B7;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  text-transform: capitalize;
}

h3 {
  color: #6E85B7;
  text-align: center;
}

p {
  text-align: center;
}
